html,body,footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  color: #0b2545;
}

/* ーーーーーーーheader ボタンーーーーーーー */
.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.451);
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}
.header button {
  font-size: 1em;
  margin: 0 5%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}
.header button:hover {
  cursor: pointer;
  color: #2f78b984;
  transition: 0.5s;
}

/* ーーーーーーー全体的ーーーーーーー */
#wrap {
  position: relative;
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}
#wrap .contents {
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 16px;
  font-weight: bolder;
  -ms-overflow-style: none;
}

/* ーーーーーーーHOMEーーーーーーー */
#div1 {
  font-family: 'Capriola', sans-serif;
  background-color: #bde0fe84;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; 
  font-weight: bold;
}
.typing-txt{
  display: none;
}
.typing-txt ul{
  list-style:none;
}
.typing {
  font-size: 50px;
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
#div1_bt {
  position: absolute;
  bottom: 10%;
  right: 50%;
}
#div1_bt button {
  background-color: rgba(255, 255, 255, 0);
  width: 70px;
  height: 70px;
  border: 3px solid #999;
  border-radius: 50%;
}
.bounce {
  /* 크롬 */
  animation: bounce 3s infinite ease-out;
}
@keyframes bounce {
  0% {
    bottom: 150px;
  }
  50% {
    bottom: 120px;
  }
  100% {
    bottom: 150px;
  }
}

/* ーーーーーーーABOUT MEーーーーーーー */
#div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#watasi_box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#about_me {
  font-size: 90px;
  font-weight: bolder;
  margin: 50px 0 30px 0;
  color: rgb(59, 59, 59);
}
#me_info {
  flex: 0.5;
  padding: 0 1% 0 2%;
}
#watasi_box div div p {
  line-height: 2rem;
  font-weight: 400;
}
#watasi_box div div p span{
  font-weight: 700;
  color: rgb(39, 38, 38);
}
.git {
  font-size: small;
  margin-top: 10px;
  font-weight: 400;
  color: rgb(63, 63, 63);
}
#tech_ {
  margin-top: 30px;
}
.tech {
  margin-top: 10px;
}
.git a {
  text-decoration: none;
  color: #039be5;
}
/* ーーーーーーーMY SKILL SETーーーーーーー */
#wrap #div2 .wrap{
  text-align: center;
  margin-top: 230px;
  padding: 0 2% 0 1%;
  flex: 0.4;
}
#wrap #div2 h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}
#skillSetDiv {
  display: flex;
  justify-content: center;
}
#programmingSkillSet {
  width:350;
  height:350;
  height: 255px; 
  width: 255px;
  margin: 5% 9% 5% 5%;
  background-color: white;
  border-radius: 4%;
}
#level {
  line-height: 50px;
}
@media screen and (max-width:1050px) {
  #div2 {
    height: 160% !important; 
  }
  #wrap #div2 .wrap {
    margin-top: 70px;
  }
  #about_me {
    margin-bottom: 50px;
  }
  #watasi_box {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width:400px) {
  .header {
    background-color: #bde0fe;
  }
  .header button{
    width: 15%;
    font-size: 12px;
    color: #000000;
  }
  .header button:hover {
    color: #ffffff;
  }
  #div2 {
    height: 180% !important; 
  }
  #about_me {
    margin-bottom: 80px;
  }
  #div1_bt {
    position: absolute;
    bottom: 10%;
    right: 40%;
  }
}
@media screen and (max-width:320px) {
  #div2 {
    height: 220% !important; 
  }
}
/* ーーーーーーー1st PROJECTーーーーーーー */
#div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bde0fe84;
}


/* ーーーーーーー2nd PROJECTーーーーーーー */
#div4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#div4 a {
  text-decoration: none;
  line-height: 25px;
}
#div4 a:hover {
  color: #ffd60a;
  cursor: pointer;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 40%;
  border: 3px solid #bde0fe84;
}
.project img {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #bde0fe84;
  transition: all 0.1s linear;
}
.project img:hover {
  transform: scale(1.1);
}
/* .project img {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #bde0fe84;
  transition: all 0.1s linear;
}
.project img:hover {
  transform: scale(1.1);
} */

